.item{
    background: paleturquoise;
    color: royalblue;
    margin: 10px;
    padding: 10px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    /* align-content: space-around; */
    /* height: 200px; */
}